body{
    padding-top: 70px;
    padding-bottom: 50px;
}

.jumbotron{
    color: #2c3e50;
    background: #ecf0f1;
    word-wrap: break-word;
}


.navbar-dark .navbar-nav .nav-link{
    color: white;
} 

.img-thumbnail{
    border: 0;
}
 

.card{
    
}

#bio{
    padding: 20px;
}

#nombre_jumbotron_principal{
    
}

#credenciales{
     
}

#footer_div{
    text-align: center;  
}

#mp_github_link{
    text-decoration: underline;
    color: #5b74ad;
}

#empleadores{
    padding-bottom: 50px;
}

.empleadores_subheader{
    font-weight: bold;
}
.empleadores_sublist{
    list-style-type: none;
    font-size: 0.85em;
}

#list-tab{
    /*word-wrap: break-word;*/ 
}

.card-header{
    padding-bottom: 20px;
}

#tabs-experiencia{
    padding-bottom: 20px;
}

#honeypot {
  display: none; /*makes the field not visible to humans*/
}

#mail_success_msg{
    padding-top: 20px;
    padding-bottom: 20px;
}

.embedded_email_header{
    text-align: center;
    padding-bottom: 20px;
}

#info_contacto{
    max-width: 95%;
    margin: 0 auto;
    padding: 0px;
    padding-bottom: 20px;
}

#send-email-static{
    max-width: 95%;
    margin: 0 auto;
    padding: 0px; 
}